* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  background-color: rgb(127, 66, 184);
  color: aliceblue;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.container {
  margin-top: 50px;
  border: 1px solid white;
  padding: 10px;
  height: auto;
  width: 400px;
  position: relative;
}

.info {
  padding-left: 130px;
}

.title {
  position: relative;
  color: white;
  width: 100%;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
button {
  cursor: pointer;
}
.image {
  padding-left: 20px;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100px;
  height: 100px;
  margin-top: 40px;
}

img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.info {
  line-height: 35px;
  margin-left: 30px;
}
